body {
    padding: 70px;
    margin: 50px;
}
.jumbotron {
    margin: 30px;
    width: 70%;
    height: 70px;
}
.img {
    height: 20px;
    width: 30px;
    margin: 8px;
}
h1{
    font-size: 50px;
    text-align: center;
    font-weight:bold;
    color: white;
    
}
div{
    align-self:center;
}
.hdiv{
    background-color: white;
    height: 100px;
    width: 200px;
}